#table {text-align: center; font-size: 13px; font-family: arial;}
#table_change {text-align: center; font-size: 15px; font-family: arial;}

#table th{border: 1px solid grey; position: sticky; top: -1px}
#table_change th{border: 1px solid grey; position: sticky; top: -1px}

td{border: 1px solid grey}

#div_button{display: flex; justify-content: center;}

#div_input{margin-left: 50px; margin-right: 50px}
#div_change {margin-right: 50px}
#spinner {margin-right: 50px}
#body {display: flex;}
